    <article class="post">
        <div class="title">
            <h3>{{title}}</h3>
        </div>
        <div class="content">
            <p>{{post_content}}</p>
        </div>
        <div class="details">
            <p>created by {{user.username}} on {{created_at}}</p>
            <a href="/post/{{id}}">{{comments.length}} comments</a>
        </div>
    </article>